body {
  font-family: sans-serif;
}
header {
  background-color: lightblue;
  /*height: 60px;*/
}
footer {
  background-color: lightblue;
  /*height: 150px;*/
}
#pie-pagina {
  margin: auto;
  padding: 20px;
  text-align: center;
}
img {
  width: 100px;
  height: auto;
}
