body {
  font-family: sans-serif;
}
header {
  background-color: lightblue;
}
#navbarNav {
  flex-direction: row-reverse;
}
.breadcrumb {
  margin-bottom: 0rem;
  padding: 10px;
}
#banner {
  background-color: #007894;
  padding: 25px 0;
}
#breadcrumb {
  background-color: #000;
  color: #fff;
  height: auto;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 0;
}

h2,
h3 {
  padding: 25px 95px;
  text-align: center;
}

h5 {
  display: inline-block;
  font-weight: 600;
}
footer {
  background-color: #007894;
}
#pie-pagina {
  margin: auto;
  padding: 20px;
  text-align: center;
  font-size: 85%;
}
img {
  width: 200px;
  height: auto;
}
.row {
  align-items: center;
  padding: 25 50px;
  margin: 10px 15px;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}
.col-md-6 {
  padding: 30px;
}

p {
  text-align: justify;
  letter-spacing: 0.6px;
}
@media (max-width: 576px) {
  .row {
    border: 1px solid #165565;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
